{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>CLIENTS</h5>
                                <h2><span class="counter">{{nbr_cli}}</span> <span class="tuition-fees">Tuition Fees</span></h2>
                                <span class="text-success">20%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>VERSEMENTS</h5>
                                <h2><span class="counter">{{nbr_versement}}</span> <span class="tuition-fees">Tuition Fees</span></h2>
                                <span class="text-danger">30%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h5>RETRAITS</h5>
                                <h2><span class="counter">{{nbr_retrait}}</span> <span class="tuition-fees">Tuition Fees</span></h2>
                                <span class="text-info">60%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h5>COMPTES</h5>
                                <h2><span class="counter">{{nbr_compte}}</span> <span class="tuition-fees">Tuition Fees</span></h2>
                                <span class="text-inverse">80%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
 <br>
<br> -->
<div class="static-table-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <a class="Warning Warning-color btn btn-success mg-b-10" href="{% url 'showpageretrait' %}"><i class="fa fa-plus edu-checked-pro" aria-hidden="true"></i> Nouveau retrait</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sparkline8-list">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>OPERATIONS DU JOUR</h1>
                                </div>
                            </div>
                            <div class="sparkline8-graph">
                                <div class="static-table-list">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>N<sup>o</sup></th>
                                                <th>NOM DU CLIENT</th>
                                                <th>N<sup>o</sup> DE CHEQUE</th>
                                                <th>MONTANT A RETIRER</th>
                                                <th>SOLDE</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        {% if key1 %}
                                            <tbody>
                                                {% for i in key1 %}
                                                    <tr>
                                                        <td>{{ i.num_ret }}</td>
                                                        <td>{{ i.num_compte.nom_client }}</td>
                                                        <td>{{ i.num_cheque }}</td>
                                                        <td>{{ i.montant }}</td>
                                                        <td>{{ i.num_compte.solde }}</td>
                                                        <td>
                                                            <a href="{% url 'retrait_update' id=i.num_ret %}" style="color:#FFC107"><button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                            <a href="#" data-toggle="modal" onclick="delete_retrait('{{i.num_ret}}','{{i.montant}}')" data-target="#DangerModalalert"><button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></button></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}                                           
                                        {% else %}
                                            <h2>No supplier available</h2>
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<br>
<br>
<script type="text/javascript">
    function delete_retrait(num, nom) {
        $("#num").text(num)
        $("#nom").text(nom)
        $("#link_delete").attr("href", "/bda/gestion_bancaires/retrait/delete/"+ num +"/")
    }
</script>
<!-- MODAL DELETE -->
<div id="DangerModalalert" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                <h2>Suppression</h2>
                <p>Etes-vous sur de vouloir supprimer cet retrait numero <b id="num"></b>, cheque numero <b id="nom"></b> definitivement ? 
                    <br>Attention, L'operation est irreversible et l'administration peux voir cette action.
                    <br> Cliquer sur confirmer pour executer la suppression.
                </p>
            </div>
            <div class="modal-footer danger-md">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-8">
                    <a id="link_delete" class="form-control text-center" href="#">Confirmer</a>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}